@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* CONTAINERS */

* {
  margin: 0;
}

.body {
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  background-color: #f7f7f750;
  padding: 8px 8px 8px 8px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topsection {
  background-color: #f7f7f750;
  display: flex;
  /*  flex-direction: column; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.onsale {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.moreinfo {
  background-color: #f7f7f750;
  display: flex;
  /*  flex-direction: column; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.footer {
  background-color: #f7f7f750;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 24px 20px;
}

/* COMPONENTS */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  color: #f7f7f7;
  background-color: #3f0505;
  box-shadow: 4px 4px #200101;
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 40px;
}

.links {
  background-color: #f7f7f7;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title {
  /* background-color: #f7f7f7; */
  background-color: #f7f7f750;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
}

/* DISPLAY COMPONENT AND SUBCOMPONENTS */

.displays {
  background-color: #f7f7f7;
  margin: 20px;
  border-radius: 20px;
  width: 240px;
  height: 184px;
  position: relative;
}

.displays img {
  border-radius: 18px;
  width: 240px;
  height: 184px;
  border: #000000;
  border-width: 3px;
  border-style: solid;
}

.displaysinfo {
  color: #f7f7f7;
  width: 200px;
  height: auto;
  position: absolute;

  left: 50px;
  bottom: 8px;
}

/* CONTENT */

.mainlogo {
  /* background-color: #f7f7f7; */
  display: flex;
  padding: 30px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.keyinfo {
  background-color: #f7f7f7;
  display: flex;
  /*  flex-direction: column; */
  flex-flow: row wrap;
  align-content: space-between;
  margin-top: 48px;
  margin-bottom: 36px;
}

.bigtickets {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.logo {
  /*  background-color: #f7f7f7; */
  margin-left: 4px;
  cursor: pointer;
}

.burger {
  /*  background-color: #f7f7f7; */
  margin-right: 4px;
  cursor: pointer;
}

.miniticket {
  background-color: #f7f7f7;
  margin-top: -8px;
  margin-bottom: 4px;
  margin-left: 54px;
  margin-right: 54px;
  text-align: center;
}

.signup {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.locationsgroup {
  background-color: #f7f7f750;
  display: grid;
  align-items: center;
  align-content: center;
}
